<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>28291669000-d0peddt495egu558kbdvr403khhv0bd3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.28291669000-d0peddt495egu558kbdvr403khhv0bd3</string>
	<key>API_KEY</key>
	<string>AIzaSyBbYjTNIYCmw5aGbs3O4h_KcA9aRahAPUE</string>
	<key>GCM_SENDER_ID</key>
	<string>28291669000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AleksandrProvarenko.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twittercloneswiftui-412b2</string>
	<key>STORAGE_BUCKET</key>
	<string>twittercloneswiftui-412b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28291669000:ios:cfbeb24e1f9b6f43cd05bd</string>
</dict>
</plist>